
.login {
    display: flex;
    height: 100%;
}

.loginLeft {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginRight {
    flex: 0 1 50%;
    padding: 15px;
}
.loginRightContainer {
    padding: 30px;
    background-color: #E7FAFE;
    border-radius: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.loginRightContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 400px;
    text-align: right;
}

.loginRightContent > p {
    font-size: 26px;
    font-weight: bold;
    color: #666666;
    letter-spacing: 1px;
    line-height: 100%;
}

.loginHeader {
    padding: 20px;
}

.loginContent {
    display: flex;
    justify-content: center;
}

.loginContent > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.loginContent > div > h1 {
    font-weight: bold;
}

.loginFooter {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loginFooter > div {
    display: flex;
    align-items: center;
    gap: 6px;
}

.loginFooter > p {
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 0.3px;
}

@media (max-width: 900px) {
    .loginLeft {
        flex: 0 1 100%;
    }
}