.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 30px;
}

.slogan {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: end;
    gap: 10px;
}

.tagline {
    font-size: clamp(1rem, 0.864rem + 0.68vw, 1.375rem);
}

.features {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.features li {
    font-size: clamp(1rem, 0.864rem + 0.68vw, 1.375rem);
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 15px;
    border-radius: 20px;
}

.testimonial {
    font-style: italic;
    font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
    color: #555;
}
