.inputGroup {
    position: relative;
    width: 100%;
    min-width: 300px;
    margin-bottom: 20px;
}

.submitButton {
    width: 100%;
}

.errorMessage {
    font-size: 14px;
    color: red;
    margin-top: 6px;
}

.errorList {
    list-style-type: none;
    padding-left: 0;
    color: red;
}

.errorList li {
    margin-bottom: 5px; /* Add spacing between errors */
}