.inputGroup {
    position: relative;
    width: 100%;
    min-width: 300px;
    margin-bottom: 20px;
}

.submitButton {
    width: 100%;
}

.errorMessage {
    font-size: 14px;
    color: red;
    margin-top: 6px;
}