*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

html

main {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1280px;
}

h1 {
    font-size: 24px;
}

input {
    width: 100%;
    padding: 12px 40px 12px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    text-align: left;
}

.btnMain {
    background-color: #000000;
    border-radius: 16px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    padding: 15px 40px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btnMain:hover {
    background-color: rgba(0, 0, 0, 0.8);
}