* {@apply m-0 p-0 border-0;}
*, *:before, *:after {@apply box-border; -moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {@apply block;}
html, body {@apply h-full w-full text-[100%] leading-none text-sm; -ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input, button,
textarea {font-family: inherit;}
input::-ms-clear {@apply hidden;}
button {@apply cursor-pointer;}
button::-moz-focus-inner {@apply p-0 border-0;}
a, a:visited {@apply no-underline;}
a:hover {@apply no-underline;}
ul li {list-style: none;}
img {@apply align-top;}
h1, h2, h3, h4, h5, h6 {@apply text-[inherit] font-[inherit];}

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    @apply flex justify-center;
}
.container {
    @apply max-w-screen-xl;
}
h1 {
    @apply text-3xl font-bold;
}
input {
    @apply w-full text-lg border pl-3 pr-10 py-3 rounded-[10px] border-solid border-[#ccc];
}
label {
    @apply block text-lg text-[#666] text-left mb-[5px];
}

.inputGroup {
    @apply relative w-full min-w-[300px] mt-5;
}

.errorMessage {
    @apply text-red-500;
}